

.nav {
    height: 48px;
    width: 100%;
    line-height: 48px;
    background-color: #448AFF;
    display: flex;
    justify-content: flex-end;
}

.nav a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: 120px;
}

.nav .logo {
    margin-right: auto;
}
.nav .logo i {
    transform: translate(-25%, +25%);
}

.nav a:hover {
    background-color: #3F51B5;
}
