{% extends "base.html" %}
{% load static %}
{% block base_head %}
    <link rel="stylesheet" href="{% static 'todo/css/base_todo.css' %}">
    {% block head %}{% endblock %}
{% endblock %}

{% block base_content %}
    <div class="nav">
        <a href="#" class="logo">
            <i class="small material-icons">apps</i>To Do</a>
        <a href="#">Hello, {{ request.user }}</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

{% endblock %}

{% block base_script %}
    {% block script %}{% endblock %}
{% endblock %}