{% load static %}
{% load tags %}
{% block task %}

     <div class="tasks">
        <div class="title">
            <!-- Category name + today date-->
        </div>
        <!-- Add a new task form -->
        <div class="new-task">
            <form  method="POST" action="{% url 'add_new_task' current_category_slug %}" novalidate>
                {% csrf_token %}
                <span class="flex-span">
                    <i class="small material-icons" id="add-task-icon">control_point</i>
                    <input type="text" name="new_task" class="add-task-input  todo-input"
                           placeholder="Add a new task">
                    <input class="add-task-btn todo-input-button" type="submit" value="Add task">
                </span>
            </form>
        </div>
        <!-- All tasks -->
        <div class="tasks-scroll-area">
        {% for t in tasks %}
            <div class="task-item" id="{{ t.id }}">
                <a href="{% url 'finish_task' current_category_slug t.id %}">
                    <i class="small material-icons">radio_button_unchecked</i></a>
                    {{ t.task }}
                <a href="{% url 'set_task_important' current_category_slug t.id %}" class="important-btn">
                    <i class="small material-icons ">star_border</i></a>
            </div>
        {% endfor %}
        </div>


     <!-- Edit tasks box-->
         <div class="edit-task-box" id="edit-task-pop-up">
            <a href="" class="category-item" id="move-to-completed-btn">
                 <i class="small material-icons">check_circle</i><span>Move to completed</span>
             </a>
             <a href="" class="category-item" id="remove-from-completed-btn">
                 <i class="small material-icons">refresh</i><span>Remove from completed</span>
             </a>
             <a href="" class="category-item" id="delete-task-btn">
                 <i class="small material-icons">delete_forever</i><span>Delete task</span>
             </a>
         </div>
     </div>

    <script type="text/javascript">
        let tasks = {{ tasks|json|safe }};
    </script>

{% endblock %}
