{% extends "base.html" %}
{% load static %}

{% block title %}To Do{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'todo/css/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'todo/css/todo.css' %}">
    <link rel="stylesheet" href="{% static 'todo/css/todo_category.css' %}">
    <link rel="stylesheet" href="{% static 'todo/css/todo_task.css' %}">
{% endblock %}


{% block nav %}
    {{ block.super }}
    <!-- Top navigation bar-->
    {% include "todo/nav_bar.html" %}
{% endblock %}

{% block content %}

    <!-- Left bar categories-->
    {% include "todo/todo_category.html" %}
    <!-- Main tasks area -->
    {% include "todo/todo_task.html" %}

{% endblock %}

{% block script %}

    <script type="text/javascript"></script>

    <script type="text/javascript" src="{% static 'todo/js/todo.js' %}"></script>
    <script type="text/javascript" src="{% static 'todo/js/todo_category.js' %}"></script>
    <script type="text/javascript" src="{% static 'todo/js/todo_task.js' %}"></script>

{% endblock %}
