{% extends "base.html" %}
{% load static %}

{% block title %}To Do{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'todo/css/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'todo/css/todo.css' %}">
{% endblock %}


{% block nav %}
    {{ block.super }}
    <!-- Top navigation bar-->
    {% include "todo/nav_bar.html" %}
{% endblock %}

{% block content %}

    <!-- Left bar categories-->
    {% include "todo/todo_category.html" %}
    <!-- Main tasks area -->
    {% include "todo/todo_task.html" %}

{% endblock %}

{% block script %}

<script>

    document.addEventListener('DOMContentLoaded', (e) => {
        highlightCurrentCategoryMenu();
        autoHideCategories();
    });

    // hide categories
    const hideCategoriesBtn = document.getElementById('hide-categories-btn');
    hideCategoriesBtn.addEventListener('click', (e) => {
        hideCategories();
    });


    function hideCategories() {
        let categoriesClassList = document.querySelector('.categories').classList;
        let isHidden = categoriesClassList.contains('hidden') === true;
        categoriesClassList.toggle("hidden");
        localStorage.setItem("isCategoriesHidden", !isHidden);
        console.log('set isCategoriesHidden to ' + !isHidden);
    }

    function autoHideCategories() {
        const isCategoriesHidden = localStorage.getItem("isCategoriesHidden");
        console.log('isCategoriesHidden: ' + isCategoriesHidden);
        if (isCategoriesHidden === 'true') {
            console.log('HIIIIIIDE');
            hideCategories();
        }
    }

    function highlightCurrentCategoryMenu() {
        // highlights current menu category
        let currentURL = window.location.href;

        document.querySelectorAll('.categories a').forEach(p => {
            if(currentURL.indexOf(p.getAttribute('href')) !== -1){
              p.classList.add('active');
            }
        });
    }

</script>


{% endblock %}
