
{% load static %}

{% block category %}

<div class="categories">
        <div class="title"> Categories</div>
        <!-- Main categories-->
        <a href="{% url 'category' 'all'%}"><div class="category-item main">All tasks</div></a>
        <a href="{% url 'category' 'important' %}"><div class="category-item main">Important</div></a>
        <a href="{% url 'category' 'my_day' %}"><div class="category-item main">My day</div></a>

        <!-- Add a new category form -->
        <div class="category-item custom-form">
             <form  method="POST" action="{% url 'add_new_category' current_category_slug %}" novalidate>
                {% csrf_token %}
                <input type="text" name="new_category" placeholder="Create a new category">
                <input class="add-category-btn" type="submit" value="category">
            </form>
        </div>

        <!-- Custom categories -->
        <div class="category-item custom"></div>
        {% for category in categories %}
            <a href="{% url 'category' category.slug %}"><div class="category-item">{{ category.name }}</div></a>
        {% endfor %}
    </div>

{% endblock %}
